@media (max-width: 850px) {
  .add-task-overlay .kpi-panel-task {
    flex-direction: column;
  }

  .add-task-overlay .form_1 {
    width: 100%;
  }

  .add-task-overlay .form-separator {
    width: 100%;
    height: 2px;
    margin: 15px 0 15px 0;
  }

  .add-task-overlay .form_2 {
    width: 100%;
  }

  .add-task-overlay .kpi-panel-task-footer {
    margin-bottom: 80px;
    margin-top: 0;
  }
}

@media (max-width: 425px) {

  .add-task-overlay .form-details {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
  }

  .add-task-overlay-title {
    margin: 0;
    font-size: 46px;
    font-weight: 700;
    color: #2a3647;
  }

  .add-task-overlay .kpi-panel-task-footer {
    align-items: center;
    flex-direction: column;
    margin-bottom: 80px;
    margin-top: 0;
  }

  .add-task-overlay .priority-section {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 15px;
  }
 .content-footer-buttons{
  margin-top: 15px;
 }
  .add-task-overlay .create-task-button {
    display: flex;
    flex-direction: row;
    gap: 15px;
  }

  .add-task-overlay .create-task-button .primary-btn {
    width: 150px;
    font-weight: 500;
    font-size: 16px;
  }

  .add-task-overlay .primary-btn-cancel {
    width: auto;
    background-color: #fffefe;
    border: 1px solid grey;
    color: #000;
    font-weight: 300;
    width: 100px;
  }
}

@media (max-width: 320px) {
.add-task-overlay-title {
    margin: 0;
    font-size: 32px;
    font-weight: 700;
    color: #2a3647;
  }
.add-task-overlay .create-task-button .primary-btn {
  width: auto;
  font-weight: 500;
  font-size: 16px;
}

.add-task-overlay .primary-btn-cancel {
  width: auto;
  background-color: #fffefe;
  border: 1px solid grey;
  color: #000;
  font-weight: 300;
  width:auto;
}

}
