.primary-btn {
  display: flex;
  height: 56px;
  width: 183px;
  font-size: 21px;
  border: unset;
  color: white;
  font-family: Inter, Arial, sans-serif;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0;
  background-color: rgb(42, 54, 71);
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  padding-right: 0;
}

.primary-btn .btn-icon {
  margin: 0 0 0 8px;
  height: 24px;
  width: 24px;
}

.priority-btn {
  width: 136px;
  height: 56px;
  border: 1px solid #d0d0d0;
  background: #ffffff;
  border-radius: 8px;
  color: #000;
  font-weight: bold;
  font-size: 21px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.priority-btn .btn-icon {
  filter: none;
}

.priority-btn.medium .btn-icon {
  filter: brightness(0) saturate(100%) invert(57%) sepia(88%) saturate(749%) hue-rotate(1deg) brightness(103%) contrast(103%);
}

.priority-btn.--selected {
  color: #ffffff;
  border-color: transparent;
}

.priority-btn.--selected .btn-icon {
  filter: brightness(0) invert(1);
}

.priority-btn.urgent.--selected {
  background-color: #ff3d00;
}

.priority-btn.medium.--selected {
  background-color: rgb(255, 168, 0);
}

.priority-btn.low.--selected {
  background-color: #7ae229;
}

.primary-btn:focus {
  border: 1px gray solid;
  transition: 0.8s ease-in-out;
}

.--primary-btn-cancel {
  height: 56px;
  width: 110px;
  background-color: #fffefe;
  border: 1px solid grey;
  color: black;
  font-size: 21px;
  font-family: Inter, Arial, sans-serif;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0;
  border-radius: 8px;
}