/* styling logo sing up pages */
.logo {
    margin: 0 0  0 24px;
    position: relative;
    top: 20px;
    transform: translate(0, 0);
}

.sing_up_page .logo_signup_page {
    height: 80px;
    display: flex;
    justify-content: flex-start !important;
    align-items: center;
    position: relative;
    z-index: 5;
}

.visibility-off{
    display: block;
    background-image: url("../assets/icons/visibility_off.svg");
}

.info-password {
    display: none;
    color: tomato;
}

.info-confirm-password {
    display: none;
    color: tomato;
}

.disebles-singup-button {
    background-color: gainsboro;
}

.accept-police{
    display: none;
}

.main-content{
    display: grid;
    margin: 0 auto;
    grid-template-rows: auto 1fr; 
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 194px);
}

.isValidate {
    border: 1px solid greenyellow !important;
}

.isInvaled {
    border: 1px solid rgb(255, 47, 47) !important;
}