/* styling logo sing up pages */
.logo {
    margin: 0;
    position: relative;
    top: 20px;
    left: 24px;
    transform: translate(0, 0);
}

.sing_up_page .logo_signup_page {
    height: 80px;

    display: flex;
    justify-content: flex-start !important;
    align-items: center;
    position: relative;
    z-index: 5;
}