/* styling logo sing up pages */
.logo {
    margin: 0;
    position: relative;
    top: 20px;
    left: 24px;
    transform: translate(0, 0);
}

.sing_up_page .logo_signup_page {
    height: 80px;

    display: flex;
    justify-content: flex-start !important;
    align-items: center;
    position: relative;
    z-index: 5;
<<<<<<< HEAD
=======
}

.info-password {
    display: none;
    color: tomato;
}

.info-confirm-password {
    display: none;
    color: tomato;
}

.disebles-singup-button {
    background-color: gainsboro;
}

.accept-police{
    display: none;
>>>>>>> 4fc860bae99c7cba6ee88539c47a349eb2f70a3c
}