.logo_page {
  width: 200px;
  height: auto;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
}
