html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.content-wrepper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1440px;
}

.login_page {
  height: 80px;
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  z-index: 5;
}

header .logo_page {
  height: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

header .button-section {
  margin-right: 15px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  width: 100%;
}

button {
  height: 35px;
  width: 95px;
  font-size: large;
  font-weight: bold;
  border: unset;
  color: white;
  background-color: rgb(42, 54, 71);
  border-radius: 8px;
  cursor: pointer;
}

.links {
  text-decoration: none;
  color: #2a3647;
  font-size: 16px;
}