html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.login_page {
  height: 80px;
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  z-index: 5;
}

header .logo_page {
<<<<<<< HEAD
  height: 80px;

=======
  height: auto;
>>>>>>> 4fc860bae99c7cba6ee88539c47a349eb2f70a3c
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

header .button-section {
  margin-right: 15px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  width: 100%;
}

<<<<<<< HEAD
.footer-links {
  text-align: center;
  width: 50%;
}

=======
>>>>>>> 4fc860bae99c7cba6ee88539c47a349eb2f70a3c
button {
  height: 35px;
  width: 95px;
  font-size: large;
  font-weight: bold;
  border: unset;
  color: white;
  background-color: rgb(42, 54, 71);
  border-radius: 8px;
<<<<<<< HEAD
=======
  cursor: pointer;
}

.links {
  text-decoration: none;
  color: #2a3647;
  font-size: 16px;
>>>>>>> 4fc860bae99c7cba6ee88539c47a349eb2f70a3c
}